# Environnement virtuel
venv/

# Base de données
db.sqlite3

# Fichiers compilés
build/
dist/
*.spec

# Cache Python
__pycache__/
*.pyc
*.pyo

# Fichiers media
media/

# Fichiers statiques collectés
staticfiles/

# Fichiers secrets
.env

# VSCode
.vscode/

# Windows
Thumbs.db
desktop.ini